@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .heroButton {
        @apply px-5 py-2 uppercase font-semibold text-sm tracking-widest text-gray-500 transition-all hover:text-[#F7AB0A]/40 
        max-sm:px-2 max-sm:py-3
    }
}

@media (max-width: 768px) {
    .about-desc {
        font-size: 10px;
        line-height: normal;
    }
}

@media (min-width: 768px) {
    .skills-wrapper {
      width: 75%;
      margin: auto;
    }
}

.div-logo-group > div > div {
    font-size: 0.8rem;
}

.div-logo-group > div.div-category-frontend {
    border-left: 0.3rem solid #ffee58;
}

.div-logo-group > div.div-category-backend {
    border-left: 0.3rem solid #6358ff;
}

.div-logo-group > div > img.box-picture {
    width: 75px;
    height: 75px;
}

.card {
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #EAEAEA;
}

